apiVersion: apps/v1
kind: Deployment
metadata:
  name: wisecow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wisecow
  template:
    metadata:
      labels:
        app: wisecow
    spec:
      containers:
        - name: wisecow
          image: aditya81888/wisecow:0cf424f024d2da745d0d6cad7607d1d3276a9bd2
          imagePullPolicy: Always
          ports:
            - containerPort: 4499
